<a href="https://colab.research.google.com/github/IngridLaila/Conteudo_Didatico/blob/main/PySpark/Corre%C3%A7%C3%A3o_do_Exerc%C3%ADcio_aula_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql.functions import regexp_replace
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Para deixar a visualição das tabelas mais amigável
spark

In [ ]:
'''
Requisito 1:
Em ambiente PySpark crie uma tabela com quatro atributos sendo o
primeiro qualitativo e os demais como quantitivos e dez registros
(linhas para a tabela) sem registros nulos.
'''

'''
Requisito 2:
Em ambiente PySpark gerar um describe da tabela gerada no requisito anterior e recebê-lo
com um df pyspark.
'''

'''
Requisito 3:
Em ambiente PySpark Selecionar a linha de desvio padrão do df gerar uma lista
no ambiente python e armazená-lo com o nome sd
'''

'''
Requisito 4:
Em ambiente Python, manipular essa lista e a partir dela gerar uma lista
com todos os valores numéricos da lista sd elevado ao quadrado e receber essa
nova lista com o nome var
'''

'''
Requisito 5:
Transformar cada lista do requisito anterior em um df py spark
'''

'''
Requisito 6:
Em ambiente Pyspark juntar os dois dfs criados no requisito anterior e
armazená-lo em um df pyspark chamado sd_var
'''

'''
Requisito 7:
Em ambiente Pyspark gerar uma junção do df da variância com o df das medidas
'''

'''
Requisito 8:
criar uma lista que contenha as modas de todos os atributos quantitativos
do df inicial e inseri-la no df pyskar de mesdidas
'''
'''
Requisito 9:
Em ambiente Pyspark e Python e de forma semelahnte ao que foi feito nos
requisitos anteriores

Calcule e adicione ao df de medidas do pyspark as seguintes linhas com seus
respectivos valores para as medidas:
* Mediana
* Q1
* Q3
* AT
* AIQ
* LS
* LI

'''

'\nRequisito 9:\nEm ambiente Pyspark e Python e de forma semelahnte ao que foi feito nos\nrequisitos anteriores\n\nCalcule e adicione ao df de medidas do pyspark as seguintes linhas com seus\nrespectivos valores para as medidas:\n* Mediana\n* Q1\n* Q3\n* AT\n* AIQ\n* LS\n* LI\n\n'

In [ ]:
'''
Requisito 1:
Em ambiente PySpark crie uma tabela com quatro atributos sendo o
primeiro qualitativo e os demais como quantitivos e dez registros
(linhas para a tabela) sem registros nulos.
'''

'''
Criação do schema que nada mais é do que o esqueleto da tabela
'''
from pyspark.sql.types import *
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DoubleType # importando estrutura da tabela (structType)
schema = StructType([ \
    StructField('nome',StringType(),True), \
    StructField('idade',IntegerType(),True), \
    StructField('altura',DoubleType(),True), \
    StructField('peso', DoubleType(), True), \
  ])

'''
Criação do objeto (nível Python) que contém as tuplas com os regitros que farão
parte da tabela
'''
dados = [('Douglas',45,1.85,70.),
    ('Daniela',7,1.23,22.),
    ('Pedro',65,1.75,87.),
    ('Maria',64,1.67,64.),
    ('Eduardo',37,1.82,96.),
    ('Ester',37,1.73,69.),
    ('Tobias',18,1.82,96.),
    ('Angela',32,1.72,70.),
    ('Dagmar',35,1.65,63.),
    ('Everaldo',37,1.82,96.)
  ]
'''
Criação do dataframe py spark juntando a estutura da tabela com o objeto
que contém os registros
'''
df_py = spark.createDataFrame(data=dados,schema=schema)
'''
Imprimir o schema do df_py
'''
df_py.printSchema()

'''
Mostrar o df_py
'''
df_py.show()

root
 |-- nome: string (nullable = true)
 |-- idade: integer (nullable = true)
 |-- altura: double (nullable = true)
 |-- peso: double (nullable = true)

+--------+-----+------+----+
|    nome|idade|altura|peso|
+--------+-----+------+----+
| Douglas|   45|  1.85|70.0|
| Daniela|    7|  1.23|22.0|
|   Pedro|   65|  1.75|87.0|
|   Maria|   64|  1.67|64.0|
| Eduardo|   37|  1.82|96.0|
|   Ester|   37|  1.73|69.0|
|  Tobias|   18|  1.82|96.0|
|  Angela|   32|  1.72|70.0|
|  Dagmar|   35|  1.65|63.0|
|Everaldo|   37|  1.82|96.0|
+--------+-----+------+----+

In [ ]:
'''
Requisito 2:
Em ambiente PySpark gerar um describe da tabela gerada no requisito anterior e
recebê-lo com um df pyspark.
'''
medidas = df_py.describe()
medidas.show()
medidas = medidas.drop("nome")
medidas.show()

+-------+------+------------------+-------------------+------------------+
|summary|  nome|             idade|             altura|              peso|
+-------+------+------------------+-------------------+------------------+
|  count|    10|                10|                 10|                10|
|   mean|  null|              37.7| 1.7060000000000002|              73.3|
| stddev|  null|17.832866037491314|0.18056700818378885|22.603097132915217|
|    min|Angela|                 7|               1.23|              22.0|
|    max|Tobias|                65|               1.85|              96.0|
+-------+------+------------------+-------------------+------------------+

+-------+------------------+-------------------+------------------+
|summary|             idade|             altura|              peso|
+-------+------------------+-------------------+------------------+
|  count|                10|                 10|                10|
|   mean|              37.7| 1.7060000000000002|              73.3|
| stddev|17.832866037491314|0.18056700818378885|22.603097132915217|
|    min|                 7|               1.23|              22.0|
|    max|                65|               1.85|              96.0|
+-------+------------------+-------------------+------------------+

In [ ]:
'''
Requisito 3:
Em ambiente PySpark Selecionar a linha de desvio padrão do df gerar uma lista
no ambiente python e armazená-lo com o nome sd
'''
sd = list(medidas.collect()[2])
print(sd)

['stddev', '17.832866037491314', '0.18056700818378885', '22.603097132915217']

In [ ]:
'''
Requisito 4:
Em ambiente Python, manipular essa lista e a partir dela gerar uma lista
com todos os valores numéricos da lista sd elevado ao quadrado e receber essa
nova lista com o nome var
'''
sd.pop(0)
print(sd)
var = []
for i in range(len(sd)):
  sd[i] = float(sd[i])
  var.append(sd[i]**2)
print(var)

['17.832866037491314', '0.18056700818378885', '22.603097132915217']
[318.0111111111112, 0.03260444444444447, 510.9000000000001]

In [ ]:
'''
Requisito 5:
Transformar cada lista do requisito anterior em um df py spark
'''
sd.insert(0,'desvio padrão')
var.insert(0, 'variância')

#sd = tuple(sd)
#var = tuple(var)

df_var = spark.createDataFrame([var])
df_sd = spark.createDataFrame([sd],["summary","idade","altura","peso"])
df_sd.show()
df_var.show()
df_var.printSchema()

+-------------+------------------+-------------------+------------------+
|      summary|             idade|             altura|              peso|
+-------------+------------------+-------------------+------------------+
|desvio padrão|17.832866037491314|0.18056700818378885|22.603097132915217|
+-------------+------------------+-------------------+------------------+

+---------+-----------------+-------------------+-----------------+
|       _1|               _2|                 _3|               _4|
+---------+-----------------+-------------------+-----------------+
|variância|318.0111111111112|0.03260444444444447|510.9000000000001|
+---------+-----------------+-------------------+-----------------+

root
 |-- _1: string (nullable = true)
 |-- _2: double (nullable = true)
 |-- _3: double (nullable = true)
 |-- _4: double (nullable = true)

In [ ]:
'''
Requisito 6:
Em ambiente Pyspark juntar os dois dfs criados no requisito anterior e
armazená-lo em um df pyspark chamado sd_var
'''

df_sd_var = df_sd.union(df_var)
df_sd_var.show()

+-------------+------------------+-------------------+------------------+
|      summary|             idade|             altura|              peso|
+-------------+------------------+-------------------+------------------+
|desvio padrão|17.832866037491314|0.18056700818378885|22.603097132915217|
|    variância| 318.0111111111112|0.03260444444444447| 510.9000000000001|
+-------------+------------------+-------------------+------------------+

In [ ]:
'''
Requisito 7:
Em ambiente Pyspark fazer a inclusão do df da variância no df das medidas
'''
medidas = medidas.union(df_var)
medidas.show()

+---------+------------------+-------------------+------------------+
|  summary|             idade|             altura|              peso|
+---------+------------------+-------------------+------------------+
|    count|                10|                 10|                10|
|     mean|              37.7| 1.7060000000000002|              73.3|
|   stddev|17.832866037491314|0.18056700818378885|22.603097132915217|
|      min|                 7|               1.23|              22.0|
|      max|                65|               1.85|              96.0|
|variância| 318.0111111111112|0.03260444444444447| 510.9000000000001|
+---------+------------------+-------------------+------------------+